---
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
import { projects } from "../services/info.json";
import Contact from "../components/Contact.astro";
---

<Layout title="Laia Xarau - developer">
  <main class="sm: w-auto">
    <h1>Front-End Developer & SEO</h1>
    <p class="text-verd m-4 pb-4">
      This is my presentation as a Front-End Developer. Hope you enjoy checking
      my projects. Please, do not hesitate to give me your feedback. Developing
      since 2023
    </p>
    <h2>My projects</h2>
    <div class="flex flex-row col-2 gap-10">
      {
        projects.map((project) => (
          <div>
            <Projects
              imageSrc={project.imageSrc}
              pageHref={project.pageHref}
              pageTitle={project.pageTitle}
              pageDescription={project.pageDescription}
            />
          </div>
        ))
      }
    </div>
    <div>
      <h2 id="skills">My Skills</h2>
      <Skills />
    </div>
    <div>
      <h2 id="about">About me</h2>
      <About />

      <h2 id="about">Let's work?</h2>
      <Contact />
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
    color: #032b40;
  }
  h2 {
    @apply my-8 text-4xl text-verd border-b border-b-verdclar;
  }
</style>
