---
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
import Contact from "../components/Contact.astro";
import Intro from "../components/Intro.astro";
import ArrowButton from "../components/ArrowButton.astro";
---

<Layout title="Laia Xarau - developer">
  <main class="m-auto p-4 w-3/4">
    <Intro />
    <Projects />
    <Skills />
    <About />
    <Contact />
    <ArrowButton />
  </main>
</Layout>
