---
import { aboutMe } from "../services/info.json";
import H2 from "../components/headers/H2.astro";
---

<section id="about">
  <H2>About me</H2>
  {aboutMe.map((element) => <p set:html={element} />)}
</section>
