<div class="text-lletra">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis id ea maiores
    voluptate mollitia consequuntur laboriosam nihil quia optio facilis?
    Cupiditate vel deserunt excepturi recusandae repellendus possimus?
    Exercitationem, magni repellat?
  </p>
</div>
