---
import H2 from "./headers/H2.astro";
---

<section>
  <!-- <h2 id="about" class="my-8 text-4xl text-verd border-b border-b-verdclar"> -->
  <H2> Let's work? </H2>
  <!-- </h2> -->
  <div class="gap-8 dark:bg-slate-800 flex items-center justify-center">
    <div
      class="bg-white relative overflow-hidden hover:shadow-2xl group rounded-xl p-5 transition-all duration-500 transform">
      <div class="flex flex-col md:flex-row items-center gap-4">
        <img
          src="../laia_xarau.jpg"
          class="w-24 md:w-40 group-hover:w-44 group-hover:h-44 h-24 md:h-40 object-center object-cover rounded-full transition-all duration-1000 delay-100 transform"
        />
        <div class="w-fit transition-all transform duration-1000">
          <h3 class="text-gray-600 dark:text-gray-200 font-bold">Laia Xarau</h3>
          <p class="text-gray-400">Front-End Developer & SEO</p>
          <a
            class="text-lg text-gray-500 group-hover:opacity-100 opacity-0 transform transition-all duration-1000">
            laiaxarau@gmail.com
          </a>
          <br />
        </div>
      </div>
    </div>
  </div>
</section>
