---
import Icon from "../components/icons/Icon.astro";

const socialMedia = [
  { name: "github", href: "https://github.com/laiaxarau" },
  { name: "linkedin", href: "https://www.linkedin.com/in/laiaxarau/" },
  { name: "gmail", href: "mailto:sejmetama@gmail.com" },
  { name: "laiaxarau2", href: "https://github.com/laiaxarau" },
];
---

<footer
  class="fixed bottom-0 left-0 z-20 w-full p-4 bg-white border-t-2 border-lletra-200 shadow md:flex md:items-center md:justify-between md:p-6">
  <span class="text-sm text-center text-lletra"
    >© 2024 <a
      href="https://github.com/laiaxarau"
      class="hover:underline"
      target="_blank">Laia Xarau</a
    >. All Rights Reserved.</span
  >
  <ul
    class="flex flex-wrap items-center mt-3 text-sm font-medium text-slate-200 sm:mt-0">
    {
      socialMedia.map((media) => (
        <li>
          <a href={media.href} target="_blank">
            <Icon customClass="fill-verd m-2" name={media.name} />
          </a>
        </li>
      ))
    }
  </ul>
</footer>
