---
import Logo from "../components/Logo.astro";
import ButtonNav from "./ButtonNav.astro";
---

<main class="flex flex-col md:flex-row items-center">
  <div class="p-6" id="mainTop">
    <Logo />
  </div>
  <div class="flex justify-end text-verd">
    <ButtonNav link="#projects">Projects</ButtonNav>
    <ButtonNav link="#skills">Skills</ButtonNav>
    <ButtonNav link="#about">About</ButtonNav>
  </div>
</main>
