---
import Logo from "../components/Logo.astro";
import ButtonNav from "./ButtonNav.astro";
---

<main class="flex flex-row items-center">
  <div class="p-6">
    <!-- flex flex-col md:flex-row items-center max-w-7xl mx-auto px-4 md:px-6
    lg:px-8 xl:px-10 mt-8 justify-evenly w-full" -->
    <Logo />
  </div>
  <div class="flex justify-end text-headers">
    <ButtonNav link="#projects">Projects</ButtonNav>
    <ButtonNav link="#skills">Skills</ButtonNav>
    <ButtonNav link="#about">About</ButtonNav>
  </div>
</main>
