---
import { intro } from "../services/info.json";
---

<section>
  <h1 class="text-4xl md:text-7xl text-verd font-bold text-center">
    Front-End Developer & SEO
  </h1>
  <p class="text-verd m-4 pb-4">
    {intro.text}
  </p>
</section>
