---
import Project from "./Project.astro";
import { projects } from "../services/info.json";
---

<section id="projects">
  <h2 class="pt-8 text-4xl text-verd border-b border-b-verdclar">
    My projects
  </h2>
  <div class="flex flex-col md:flex-row col-2 justify-center gap-10">
    {
      projects.map((project) => (
        <Project
          imageSrc={project.imageSrc}
          pageHref={project.pageHref}
          pageTitle={project.pageTitle}
          pageDescription={project.pageDescription}
        />
      ))
    }
  </div>
</section>
