<div class="flex flex-row">
  <img
    class="object-scale-down h-28 w-28"
    loading="lazy"
    src="./html-5.png"
    alt="icono HTML"
  />
  <img
    class="object-scale-down h-28 w-28"
    loading="lazy"
    src="./CSS3_logo.png"
    alt="icono HTML"
  />
  <img
    class="object-scale-down h-28 w-28"
    loading="lazy"
    src="./javascript-logo.png"
    alt="icono HTML"
  />
  <img
    class="object-scale-down h-28 w-28"
    loading="lazy"
    src="./astro.png"
    alt="icono HTML"
  />
  <img
    class="object-scale-down h-28 w-28"
    loading="lazy"
    src="./Tailwind CSS.png"
    alt="icono HTML"
  />

  <img
    class="object-scale-down h-28 w-28"
    loading="lazy"
    src="./WordPress-logo.png"
    alt="icono HTML"
  />
  <!-- <img
    class="object-scale-down h-28 w-28"
    loading="lazy"
    src="./prestashop.png"
    alt="icono HTML"
  /> -->
</div>
