<div class="flex flex-row">
  <img
    class="object-scale-down h-24 w-24"
    loading="lazy"
    src="./html-5.png"
    alt="HTML5"
  />
  <img
    class="object-scale-down h-24 w-24"
    loading="lazy"
    src="./CSS3_logo.png"
    alt="CSS3"
  />
  <img
    class="object-scale-down h-24 w-24"
    loading="lazy"
    src="./javascript-logo.png"
    alt="JavaScript"
  />
  <img
    class="object-scale-down h-24 w-24"
    loading="lazy"
    src="./astro2.png"
    alt="Astro"
  />
  <img
    class="object-scale-down h-24 w-24"
    loading="lazy"
    src="./Tailwind CSS.png"
    alt="Tailwind"
  />

  <img
    class="object-scale-down h-24 w-24"
    loading="lazy"
    src="./WordPress-logo.png"
    alt="Wordpress"
  />
  <!-- <img
    class="object-scale-down h-24 w-24"
    loading="lazy"
    src="./prestashop.png"
    alt="icono HTML"
  /> -->
</div>
