---
import { developSkills } from "../services/info.json";
---

<section id="skills" class="align-center py-8">
  <h2 class="my-8 text-4xl text-verd border-b border-b-verdclar">My Skills</h2>
  <div class="flex flex-row flex-wrap justify-center py-6">
    {
      developSkills.map((skill) => (
        <img
          class="object-scale-down h-28 w-28"
          loading="lazy"
          src={skill.src}
          alt={skill.alt}
        />
      ))
    }
  </div>
</section>
