<div class="flex flex-row">
  <img
    class="object-scale-down h-28 w-28"
    loading="lazy"
    src="./html-5.png"
    alt="icono HTML"
  />
  <img
    class="object-scale-down h-28 w-28"
    loading="lazy"
    src="./html-5.png"
    alt="icono HTML"
  />
  <img
    class="object-scale-down h-28 w-28"
    loading="lazy"
    src="./html-5.png"
    alt="icono HTML"
  />
  <img
    class="object-scale-down h-28 w-28"
    loading="lazy"
    src="./html-5.png"
    alt="icono HTML"
  />
  <img
    class="object-scale-down h-28 w-28"
    loading="lazy"
    src="./html-5.png"
    alt="icono HTML"
  />
</div>
